body {
  background-color: rgb(241, 233, 223);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.container {
  width: 600px;
  height: 500px;
  border: 8px solid violet;
  border-radius: 20px;
  text-align: center;
  margin: 300px;
  transition: all 0.5s ease;
}

.container:hover {
  transform: scale(1.1);
  color: #fff;
  background-color: rgb(243, 229, 243);
  box-shadow: 0px 26px 56px 0px rgba(0, 0, 0, 0.1);
}
.title {
  font-size: 50px;
  margin-top: 100px;
  color: blueviolet;
}

.top-area {
  font-size: 30px;
}

#result-area {
  color: rgb(208, 169, 245);
}

#answer {
  font-size: 20px;
  margin-top: 10px;
  position: relative;
}

#answer::before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  background-color: rgb(172, 37, 230);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
  text-align: center;
}

#answer:hover::before {
  opacity: 1;
  visibility: visible;
}

#chance-area {
  margin-top: 40px;
  text-decoration: underline;
  color: red;
  font-size: 20px;
}

.input-button {
  margin-top: 40px;
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 12vw;
  }

  .top-area {
    font-size: 11vw;
  }

  #user-input {
    width: 50%;
  }

  .container {
    height: 50vh;
    width: 35vh;
  }
}
